*,
*:before,
*:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.paths {
  width: 400px;
}
button {
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
button.default {
  background-color: #fff;
  border-color: #ccc;
}
button.primary,
button.directory {
  background-color: #428bca;
  border-color: #357fbe;
  color: #fff;
}
button.success,
button.save {
  background-color: #5cb85c;
  border-color: #4caf4c;
  color: #fff;
}
button.info {
  background-color: #5bc0de;
  border-color: #44b7d9;
  color: #fff;
}
button.warning,
button.directory.parent {
  background-color: #f0ad4e;
  border-color: #eea134;
  color: #fff;
}
button.danger,
button.reset,
button.test {
  background-color: #d9534f;
  border-color: #d43e39;
  color: #fff;
}
button.link {
  background-color: transparent;
  border-color: transparent;
  color: ;
}
button.reset,
button.test {
  display: block;
}
button.directory {
  width: 100%;
}
.directories {
  max-height: 303px;
  overflow: auto;
  width: 100%;
}
.directory.current {
  background-color: #5bc0de;
  border: 1px solid #44b7d9;
  color: #fff;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}
